{% extends 'main.html' %}

{% block headcontent %}
    <link rel="stylesheet" href="../static/styles/main.css" />
    <script src="../static/resources/main.js"></script>
{% endblock %}

{% block pagecontent %}
    <div class="parallax__bg top">
            <div class="caption">
                <a href="/sender/register" class="caption__text">REGISTER NOW</a>
            </div>
        </div>
        <section id="text-first" class="text-content">
            <div id="actual-content" class="text-column">
                <p>Parcel Express is a delivery company founded in 2020 by a wannabe astrophysician, who decided to contribute to the world's well-being by establishing extremely professional and inhumanely fast delivery service. The feature that distinguishes us from our competitors is our extent of commitment to break spacetime continuum in order to satisfy the customer with his desired goods.</p>
                <p>They say that time flies faster when doing something pleasant. That's why our staff is always at their peak happiness (nevermind the time dilation).</p>
                <p id="slogan">JOIN US NOW!</p>
            </div>
            <div id="quote" class="text-column">
                <span id="quote-text">,,Holy cow! I didn't think I would have to adjust my Theory of Relativity© in order to include the speed of delivery by Parcel Express!''</span>
                <span id="quote-author">~ totally legit quote by Albert Einstein</span>
            </div>
        </section>
        <div class="parallax__bg middle">
            <div class="caption">
                <span class="caption__text">PRICING</span>
                <hr />
            </div>
        </div>
        <section id="text-second" class="text-content">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Service:</th>
                        <th>Price:</th>
                        <th>Delivery time:</th>
                        <th>Satisfaction level:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">"Walking on the moon"</td>
                        <td>10$</td>
                        <td>2-3 weeks</td>
                        <td>Kinda low, but The Police is cool, so we kept it.</td>
                    </tr>
                    <tr>
                        <td colspan="2">"Kickstart my heart"</td>
                        <td>15$</td>
                        <td>1 week</td>
                        <td>Moderate, we're trying our best, ok?</td>
                    </tr>
                    <tr>
                        <td colspan="2">"Don't stop me now"</td>
                        <td>20$</td>
                        <td>3-5 days</td>
                        <td>"Uhh uhh uhhh... I like it!" - Freddie</td>
                    </tr>
                    <tr>
                        <td colspan="2">"Space oddity"</td>
                        <td>30$</td>
                        <td>same day</td>
                        <td>Out of this world (pun intended).</td>
                    </tr>
                    <tr>
                        <td colspan="2">"Supermassive Black Hole"</td>
                        <td>50$</td>
                        <td>instant!</td>
                        <td>"What? I love it!"</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <div class="parallax__bg bottom">
            <div class="caption">
                <span class="caption__text">FASTEST DELIVERY ON THIS SIDE OF THE GALAXY</span>
                <hr />
            </div>
        </div>
{% endblock %}