<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/styles/global.css" />
        <link rel="stylesheet" href="../static/styles/main.css" />
        <script src="../static/resources/main.js"></script>
        <title>Parcel Express</title>
    </head>
    <body>
        <header id="navbar" class="on_top">
            <div id="company">
                <p>
                    <img id="company-logo" src="../static/assets/rocket-outline.svg" alt="Parcel Express" />
                    <span id="company-name">
                        Parcel Express
                    </span>
                </p>
            </div>
            <a class="active" href="/">Home</a>
            <a href="/register">Register</a>
        </header>
        <div class="parallax__bg top">
            <div class="caption">
                <a href="/register" class="caption__text">REGISTER NOW</a>
            </div>
        </div>
        <div class="text-content">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="parallax__bg middle">
            <div class="caption">
                <span class="caption__text">PRICING</span>
            </div>
        </div>
        <div class="text-content">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="parallax__bg bottom">
            <div class="caption">
                <span class="caption__text">FASTEST DELIVERY ON THIS SIDE OF THE GALAXY</span>
            </div>
        </div>
        <footer>
            <span>
                Created by Michał Balas, 299233 during pandemic 2020 :(
            </span>
        </footer>
    </body>
</html>