{% extends 'main.html' %}

{% block headcontent %}
    <link rel="stylesheet" href="../static/styles/register.css" />
    <script src="../static/resources/register.js"></script>
{% endblock %}

{% block pagecontent %}
    <section id="card">
        <div id="card-header">
            <span class="dot">
                <img src="../static/assets/lock-open-plus-outline.svg" alt="Register" />
            </span>
            <span id="card-title">SIGN UP</span>
        </div>
        <form action="/sender/register" method="post" id="form" enctype="multipart/form-data">
            <div id="card-body">
                <p id="input-" class="input__container">
                    <label for="name">Name:</label>
                    <input
                            id="name"
                            type="text"
                            class="input__box"
                            name="firstname"
                            required
                            placeholder="Your name"
                            pattern="^[A-Z|Ł|Ć]{1}([a-z]|[ąęćńłóżź])+"
                    />
                </p>
                <p id="input-" class="input__container">
                    <label for="surname">Surname:</label>
                    <input
                            id="surname"
                            type="text"
                            class="input__box"
                            name="lastname"
                            required
                            placeholder="Your surname"
                            pattern="^[A-Z|Ł|Ć]{1}([a-z]|[ąęćńłóżź])+"
                    />
                </p>
                <p id="input-" class="input__container">
                    <label for="username">Username:</label>
                    <input
                            id="username"
                            type="text"
                            class="input__box"
                            name="login"
                            required
                            placeholder="Your username"
                            minlength="3"
                            maxlength="12"
                            pattern="^[a-z]*$"
                    />
                </p>
                <p id="input-" class="input__container">
                    <label for="password">Password:</label>
                    <input
                            id="password"
                            type="password"
                            class="input__box"
                            name="password"
                            required
                            placeholder="Your password here"
                            minlength="8"
                    />
                </p>
                <p id="input-" class="input__container">
                    <label for="rep_password">Repeat password:</label>
                    <input
                            id="rep_password"
                            type="password"
                            class="input__box"
                            name="rep_password"
                            required
                            placeholder="Your password here, again"
                            minlength="8"
                    />
                </p>
                <p id="input-" class="input__container">
                    <label for="email">Email:</label>
                    <input
                            id="email"
                            type="email"
                            class="input__box"
                            name="email"
                            required
                            placeholder="Your email"
                    />
                </p>
                <p id="input-" class="input__container">
                    <label for="address">Address:</label>
                    <input
                            id="address"
                            type="text"
                            class="input__box"
                            name="address"
                            required
                            placeholder="Your address"
                    />
                </p>
            </div>
            <button type="submit" id="submit-btn">Register</button>
        </form>
    </section>
{% endblock %}