html {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;

}
body {
    margin: 0;
}

#navbar {
    background-color: #333;
    overflow: hidden;
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#navbar a.active {
    color: aqua;

}

#company-logo  {
    vertical-align: middle;
    display: inline;
    height: inherit;
}

#company-name {
    vertical-align: middle;
    display: inline;
}

#company > p {
    margin: 0;
    justify-content: left;
}

#navbar > * {
    display: inline-grid;
    margin: 0 3%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

#navbar > div {
    margin-left: 2%;
    padding: 12px 0 0 0;
}

#navbar > a {
    transition: 0.3s;
    padding: 14px 30px;
    margin: 0;
}

#navbar > a:hover {
    background-color: #fff;
    color: #000;
}

.on_top {
    position: sticky;
    /*display: inline-block;*/
}

.hidden {
    top: -50px;
}

footer {
    position: fixed;
    vertical-align: middle;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    height: 5%;
    text-align: end;
}

footer > span {
    margin: 0 5%;
}