body {
    background-image: url("../assets/truck-sunset.jpg");
}

#card {
    margin: 8% 30% 0 30%;
    background-color: #282e34;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    vertical-align: middle;
    box-shadow: 0 0 5px 5px rgba(40, 46, 52, 0.5);
    border-radius: 5px;
}

#card > #card-header {
    display: block;
    margin: auto 10%;
}

#card > #card-header > #card-title {
    font-size: 17px;
    color: white;
    letter-spacing: 2px;
}

.input__container {
    display: block;
    color: #fff;
    text-align: left;
    margin: 2% 0;
 }

.input__box {
    display: block;
    border-radius: 5px;
    width: 100%;
    padding: 10px 5px;
    font-size: 17px;
}

.input__box__valid, .input__box__valid:focus {
    border: #00af00 5px solid;
    box-shadow: 0 0 5px 5px rgba(0, 175, 0, 0.5);
}

.input__box__invalid {
    border: #af0000 5px solid;
    box-shadow: 0 0 5px 5px rgba(175, 0, 0, 0.5);
}

#card > #card-header > .dot {
    margin: 25% 0;
    height: 80px;
    width: 80px;
    background-color: aqua;
    border-radius: 50%;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

#submit-btn {
    display: block;
    width: 100%;
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 5px;
    margin: 5% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 5px 10px;
}

@media (max-width: 768px) {
    body {
        background-size: 350%;
    }

    #card {
        margin: 10% 20% 0 20%
    }
}