<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/global.css" />
    <link rel="stylesheet" href="../static/styles/register.css" />
    <script src="../static/resources/register.js"></script>
    <script src="../static/resources/global.js"></script>
    <script src="../static/resources/proto.js"></script>
    <title>Parcel express</title>
</head>
<body>
    <header id="navbar" class="on_top">
        <div id="company">
            <p>
                <img id="company-logo" src="../static/assets/rocket-outline.svg" alt="Parcel Express" />
                <span id="company-name">
                    Parcel Express
                </span>
            </p>
        </div>
        <a href="/">Home</a>
        <a class="active" href="/register">Register</a>
    </header>
    <section id="card">
        <div id="card-header">
            <span class="dot">
                <img src="../static/assets/lock-open-plus-outline.svg" alt="Register" />
            </span>
            <span id="card-title">SIGN UP</span>
        </div>
        <form id="form" enctype="multipart/form-data">
            <div id="card-body">
                <p id="input-" class="input__container">
                    <label for="name">Name:</label>
                    <input
                            id="name"
                            type="text"
                            class="input__box"
                            name="firstname"
                            required
                            placeholder="Your name"
                            pattern="^[A-Z|Ł|Ć]{1}([a-z]|[ąęćńłóżź])+"
                    />
                </p>
                <p id="input-" class="input__container">
                    <label for="surname">Surname:</label>
                    <input
                            id="surname"
                            type="text"
                            class="input__box"
                            name="lastname"
                            required
                            placeholder="Your surname"
                            pattern="^[A-Z|Ł|Ć]{1}([a-z]|[ąęćńłóżź])+"
                    />
                </p>
                <p id="input-" class="input__container">
                    <label for="sex">Sex:</label>
                    <select
                            id="sex"
                            class="input__box"
                            name="sex"
                            required
                    >
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                    </select>
                </p>
                <p id="input-" class="input__container">
                    <label for="username">Username:</label>
                    <input
                            id="username"
                            type="text"
                            class="input__box"
                            name="login"
                            required
                            placeholder="Your username"
                            minlength="8"
                            pattern="^\S*$"
                    />
                </p>
                <p id="input-" class="input__container">
                    <label for="password">Password:</label>
                    <input
                            id="password"
                            type="password"
                            class="input__box"
                            name="password"
                            required
                            placeholder="Your password here"
                            minlength="8"
                    />
                </p>
                <p id="input-" class="input__container">
                    <label for="rep_password">Repeat password:</label>
                    <input
                            id="rep_password"
                            type="password"
                            class="input__box"
                            name="rep_password"
                            required
                            placeholder="Your password here, again"
                            minlength="8"
                    />
                </p>
                <p id="input-" class="input__container">
                    <label for="photo">Photo:</label>
                    <input
                            id="photo"
                            type="file"
                            class="input__box"
                            name="photo"
                            accept="image/*"
                            required
                    />
                </p>
            </div>
            <button type="submit" id="submit-btn">Register</button>
        </form>
    </section>
    <footer>
            <span id="github">
                GitHub: <a href="https://github.com/Salabim-mb/lab_web">Click!</a>
            </span>
            <span id="sign">
                Created by Michał Balas, 299233 during pandemic 2020 :(
            </span>
        </footer>
</body>
</html>